<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="TestingContext" providerName="Npgsql" connectionString="Server=localhost;Port=5432;Database=newtestdb;User Id=postgres;CommandTimeout=20;" />
  </connectionStrings>
  <appSettings>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
	<trace enabled="true" />
  </system.web>
  <system.diagnostics>
  	<trace>
  		<listeners>
  			<add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, [[PublicKeyToken]]=b03f5f7f11d50a3a" />
  		</listeners>
  	</trace>
  </system.diagnostics>
	<machineKey validationKey="D2F7670A1EC800D914113ED90A0797AF8C66DEF11F68A24B4663EA87CBDA20C822ECC8CE93A39451F0454D1B2ED354A376DE8D655A5181593F7890BA7A0A54D1"
				decryptionKey="C07C3BB44B863DBE851EEFD81AD3B3943ED81105CF513EBD"
				validation="SHA1" />

	<authentication mode="Forms">
	    <forms name=".AspNetAuth" protection="All" defaultUrl="/" 
	        loginUrl="/" timeout="30" path="/" requireSSL="false" 
	        slidingExpiration="true" enableCrossAppRedirects="false" />
	</authentication>

	<membership defaultProvider="PgMembershipProvider">
	    <providers>
	        <clear/>
	        <add name="PgMembershipProvider" 
	        	type="NauckIT.PostgreSQLProvider.PgMembershipProvider" 
	        	connectionStringName="TestingContext" 
	        	enablePasswordRetrieval="false" 
	        	enablePasswordReset="true" 
	        	requiresQuestionAndAnswer="true" 
	        	passwordFormat="Hashed" 
	        	applicationName="TestingMvc"/>
	    </providers>
	</membership>

	<roleManager enabled="true" 
		defaultProvider="PgRoleProvider" 
		cacheRolesInCookie="true" 
		cookieName=".AspNetRoles" 
		cookiePath="/" 
		cookieProtection="All" 
		cookieRequireSSL="false" 
		cookieSlidingExpiration="true" 
		createPersistentCookie="false" 
		cookieTimeout="30" 
		maxCachedResults="25">
	    <providers>
	        <clear/>
	        <add name="PgRoleProvider" 
	        	type="NauckIT.PostgreSQLProvider.PgRoleProvider" 
	        	connectionStringName="TestingContext" 
	        	applicationName="TestingMvc"/>
	    </providers>
	</roleManager>

	<profile enabled="true" defaultProvider="PgProfileProvider">
	    <providers>
	        <clear/>
	        <add name="PgProfileProvider" 
	        	type="NauckIT.PostgreSQLProvider.PgProfileProvider" 
	        	connectionStringName="TestingContext" 
	        	applicationName="TestingMvc"/>
	    </providers>
	    <properties>
	        <add name="FirstName"/>
	        <add name="LastName"/>
	    </properties>
	</profile>

	<sessionState   mode="Custom"   customProvider="PgSessionStateStoreProvider">
	    <providers>
	        <clear/>
	        <add name="PgSessionStateStoreProvider" 
	        	type="NauckIT.PostgreSQLProvider.PgSessionStateStoreProvider" 
	        	enableExpiredSessionAutoDeletion="true" 
	        	expiredSessionAutoDeletionInterval="60000" 
	        	enableSessionExpireCallback="false" 
	        	connectionStringName="TestingContext" 
	        	applicationName="TestingMvc" />
	    </providers>
	</sessionState>
</configuration>